@{
    Layout = null;
}

<link rel="stylesheet" href="/css/style.css"></link>

 <header>
      <div class="header-grid wrapper">
        <a class="logo" href="#">
          <img src="/media/kr2flvms/ifcc-logo-blue.png" alt="logo" />
        </a>

        <div class="flex flex-col flex-b pb-5">
          <nav class="top-nav" role="navigation">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>

          <div class="flex flex-b mt-4">
            <form action="" method="">
              <div class="search-bar">
                <button type="submit">🔍</button>
                <input type="text" placeholder="Search" />
              </div>
            </form>

            <button class="explore-ifcc" id="toggle-mega-menu">
              Explore IFCC ⠿
            </button>
          </div>
        </div>
      </div>

      <!-- Mega menu -->
      <div class="mega-menu d-none" id="mega-menu">
        <!-- Body -->
        <div class="mega-menu-body wrapper">
          <div>
            <ul>
              <li>
                <h3>Executive Board & Council</h3>
              </li>
              <li><a href="#">IFCC Executive Board Biographies</a></li>
              <li><a href="#">EB Committees</a></li>
              <li><a href="#">Task Forces</a></li>
              <li><a href="#">IFCC Membership</a></li>
              <li><a href="#">IFCC Regional Federations</a></li>
              <li><a href="#">IFCC Organisational Structure</a></li>
              <li><a href="#">IFCC Strategic Plan</a></li>
              <li><a href="#">Status and rules</a></li>
              <li><a href="#">EB Minutes</a></li>
              <li><a href="#">IFCC Foundation</a></li>
            </ul>
          </div>

          <div>
            <ul>
              <li>
                <h3>Scientific Division</h3>
              </li>
              <li><a href="#">SD Committees</a></li>
              <li><a href="#">SD Working Groups</a></li>
              <li><a href="#">SD Executive Committee Minutes</a></li>
              <li><a href="#">Reference Materials</a></li>
              <li><a href="#">Project Proposal Form</a></li>
              <li><a href="#">SD Yearly Publications of Interest</a></li>
              <li>
                <a href="#"
                  >Participation in External Programs and Joint Committees</a
                >
              </li>
              <li>
                <a href="#">SD Executive Committees 2020-2022 Biographies</a>
              </li>
            </ul>
          </div>

          <div>
            <ul>
              <li>
                <h3>Education and Management</h3>
              </li>
              <li><a href="#">EMD Committees</a></li>
              <li><a href="#">EMD Working Groups and Special Projects</a></li>
              <li>
                <a href="#">IFCC-Abbott Visiting Lecture Programme (VLP)</a>
              </li>
              <li>
                <a href="#"
                  >IFCC Professional Exchange Programmes (PEPs) Speaker's
                  Bureau</a
                >
              </li>
              <li><a href="#">Webinars and Distance Learning Material</a></li>
              <li><a href="#">IFCC eAcademy</a></li>
              <li><a href="#">IFCC Expert Database</a></li>
              <li><a href="#">EMD Minutes</a></li>
            </ul>
          </div>

          <div>
            <ul>
              <li>
                <h3>Communications and Publications</h3>
              </li>
              <li><a href="#">CPD Committees</a></li>
              <li><a href="#">CPD Working Groups</a></li>
              <li><a href="#">IFCC Publications/Documents</a></li>
              <li><a href="#">News and Document Archieve</a></li>
              <li><a href="#">CPD Executive Committee Minutes</a></li>
            </ul>
          </div>

          <div>
            <ul>
              <li>
                <h3>Emerging Technologies</h3>
              </li>
              <li><a href="#">ETD Committees</a></li>
              <li><a href="#">ETD Working Groups</a></li>
              <li><a href="#">ETD Project proposal form</a></li>
              <li><a href="#">ETD Publications</a></li>
              <li>
                <a href="#">ETD Partnership and Institutions of interest</a>
              </li>
            </ul>
          </div>

          <div>
            <ul>
              <li>
                <h3>Congresses and Conferences</h3>
              </li>
              <li><a href="#">Congress and Conferences Committee</a></li>
              <li><a href="#">IFCC-WorldLab Congresses</a></li>
              <li><a href="#">IFCC-EFLM EuroMedLab Congresses</a></li>

              <li><a href="#">Auspices and Congress Guidelines</a></li>
              <li>
                <a href="#">IFCC General Conference Budapest - Hungary</a>
              </li>
              <li><a href="#">Conference Proceedings</a></li>
              <li><a href="#">Webinars recordings</a></li>
              <li><a href="#">Calendar of past events</a></li>
            </ul>
          </div>

          <div>
            <ul>
              <li>
                <h3>Resources & Downloads</h3>
              </li>
              <li>
                <a href="#"
                  >IFCC Information Guide on COVID-19 - Introduction</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

@RenderBody()

<footer>
      <div class="wrapper">
        <a href="#" class="logo">
          <img src="/media/0qyjnaxg/ifcc-logo-white.png" alt="logo" />
        </a>

        <div class="nav">
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>

        <div class="socials">
          <h2>Follow us</h2>
          <ul>
            <li>
              <a href="#"
                ><img src="/media/4jwmolnm/facebook.png" alt="Facebook"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="/media/yprlqdmg/instagram.png" alt="Instagram"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="/media/ddil0foe/twitter.png" alt="Twitter"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="/media/lard3hgn/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="/scripts/megamenu.js"></script>
