@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Subpage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<section class="subpage">
    <div class="subpage__container--dark">
      <div class="subpage__container__content">
        <img class="subpage__container__content__image" src="/assets/img/ifcc-eb-2020_may.png">
        <h2 class="subpage__container__content__headline--light">IFFC - Executive Board (EB) and Council</h2>
        <p class="subpage__container__content__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis
          ultricies lobortis. Aenean ornare vitae lectus vel luctus. Etiam ut ipsum quis l
          ibero interdum egestas vel eget purus. Sed arcu ex, posuere non dui ac, tincidunt
          susn. Aenean suscipit molestie lacinia. Cras nec orci vitae tortor lacinia dignissim.
          Sed mattis enim augue, sed vehicula eros viverra in. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Praesent s
        </p>
      </div>
    </div>

    <div class="subpage__container">
      <div class="subpage__container__content">
        <img class="subpage__container__content__image" src="/assets/img/ifcc-eb-2020_may.png">
        <h2 class="subpage__container__content__headline--heavy">Latest IFCC Council Meeting Minutes:</h2>
        <p class="subpage__container__content__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis
          ultricies lobortis. Aenean ornare vitae lectus vel luctus. Etiam ut ipsum quis l
          ibero interdum egestas vel eget purus. Sed arcu ex, posuere non dui ac, tincidunt
          susn. Aenean suscipit molestie lacinia. Cras nec orci vitae tortor lacinia dignissim.
          Sed mattis enim augue, sed vehicula eros viverra in. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Praesent s
        </p>
      </div>
    </div>
  </section>
