@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "Layout.cshtml";
		var selection = Umbraco.Content(Guid.Parse("a647fd76-344f-4006-a666-c579d6fd849b"))
    .ChildrenOfType("blogItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}

<div class="container">

			<!-- Featured blogpost -->

			<!-- Latest blog posts -->
			<div class="row section">
				<div class="col-md-12">
					<h3>Latest stories</h3>
				</div>
			</div>

			<!-- Blog Post Query goes here. -->

<ul>
	@foreach (var item in selection)
	{
		<li>

			<a href="@item.Url()">@item.Name()</a>
			<p>@item.Value("bodyText")</p>
            <div style="background-image: url('@item.BlogImage.Url()'); height:200px; width:300px;background-size: cover;"></div>

		
		</li>
	}
</ul>


            
</div>