
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MainSite>
    


@{
	Layout = "Layout.cshtml";
	var selection = Umbraco.Content(Guid.Parse("a647fd76-344f-4006-a666-c579d6fd849b"))
    .ChildrenOfType("blogItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate).Take(2);
    



}

    <main>
      <section class="recent-articles">

        <div class="article-grid">
          <div></div>
          <h1>Recent articles</h1>
        </div>

<ul>
	@foreach (var item in selection)
	{
	

		<li>
			<a href="@item.Url()" class="article-grid">
			
            <img src="/media/k5ghakve/webinar.png">

            <div>
                <h2>@item.Name</h2>
            <p>@item.Value("introText")</p>

          </div>
			</a>
		</li>
	}
</ul>

      </section>

      <section class="event-highlights">
        <div class="article-grid">
          <div></div>
          <h1>Event highlights</h1>
        </div>

        <a href="/event-2/" class="article-grid">
          <img src="/media/k5ghakve/webinar.png" alt="" />
          <div>
            <h2>Event 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </a>

        <a href="/event-1/" class="article-grid">
          <img src="/media/k5ghakve/webinar.png " alt="" />
          <div>
            <h2>Event 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </a>
      </section>

      <section class="key-partners">
        <h1>Key partners</h1>
        <div class="partner-grid">
          <a href="#">
            <img src="/media/hqsbxn2f/snibe.jpg" alt="" />
          </a>
          <a href="#">
            <img src="/media/ohaj113t/sysmex.png" alt="" />
          </a>
          <a href="#">
            <img src="/media/kwwj41td/sansure-logo-h-1-cut.png" alt="" />
          </a>
          <a href="#">
            <img src="/media/p2ym2bii/szybio-wuhan-life-origin-biotech-joint-stock-co-modified.png" alt="" />
          </a>
        </div>
      </section>
    </main>
